/* Import font used */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* General styles of the websites */
body {
  font-family: 'Roboto', sans-serif;
}
h1{
  font-weight: bold;
  color: rgb(3, 12, 138);
  font-family:'Lobster',cursive;
}
h2{
  font-family: 'Indie flower', 'cursive';
}
@media screen and (max-width:1024px){
h2{
    font-size:1.5rem;
}
}
.navbar{
  background-color: rgb(13, 63, 199);
}
ol.breadcrumb{
  margin-bottom: 0px;
}

/* Styles of index.html */
.box-introduction {
  background: url(images/ciel.jpg) no-repeat center fixed;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'Lobster',cursive;
  font-size: 2rem;
}
#presentation-event {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
 }
.box-presentation{
  flex-direction: column;
  padding:2rem;
}
.box-presentation>img{
  padding-bottom: 1rem;
  }
.box-event{
  justify-content: center;
}
.box-event>img{
  display: flex;
  justify-content: center;
  margin:1rem;
}
.box-presentation, .box-event{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.box-presentation>img, .box-event>img{
  width:100%;
  height:auto;
  padding-top: 1rem;
}
.box-news {
  width: 100vw;
  background-color: rgb(4, 4, 78);
  padding: 1rem;
  text-align: center;
  align-items: flex-start;
  justify-content: space-evenly;
  color: white;
}
@media screen and (max-width:1390px){
  .box-introduction{
    font-size: 1rem;
  }
}
.footer-homepage{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 1rem;
  position: relative;
  bottom: 0;
}

/* Styles of the others files */
h2.text-center{
  padding-bottom: 1rem;
}
.content-event, .content-game{
  margin-bottom: 1rem;
}
.content-game{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box-halloween>img, .box-champion>img, .box-projets>img{
  width:100%;
  height:auto;
}
.box-champion, .box-halloween, .box-projets{
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}

.footer-game,.footer-eventspage{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 1rem;
  position: absolute;
  bottom: 0;
}

section.col-md-6, aside.col-md-6
{
  width: 50vw;
  padding: 1rem;
}
@media screen and (max-height:830px){
  .footer-eventspage, .footer-game{
    position:relative;
  }
}

@media screen and (max-width:1024px){
  .footer-eventspage {
    position: static;
  }
}

@media screen and (max-width:905px){
  .box-champion, .box-halloween, .box-projets{
    margin-bottom:1rem;
  }
}
